<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Hungry</title>
<link rel="stylesheet" href="/stylesheets/bootstrap-400b3.min.css">
<link rel="stylesheet" href="/stylesheets/font-awesome-470.min.css">
<link rel="stylesheet" href="/stylesheets/toggle-switch.css">
<link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
