<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Hungry</title>
<link rel="stylesheet" href="/css/bootstrap-400b3.min.css">
<link rel="stylesheet" href="/css/toggle-switch.css">
<link rel="stylesheet" href="/css/main.css">
<script defer src="/js/fontawesome-all-5.js"></script>
</head>
<body>
