<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>chowchow</title>
        <link rel="icon" type="image/png" href="/media/chowchow.png">
        <link rel="stylesheet" href="/css/bootstrap-400b3.min.css">
        <link rel="stylesheet" href="/css/toggle-switch.css">
        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/bowser-191.min.js"></script>
        <script defer src="/js/fontawesome-all-5.js"></script>
    </head>
<body>
<div class="header">
    <a href="https://www.charitynavigator.org/index.cfm?bay=my.donations.makedonation&ein=363673599&"><img src="/media/feeding_america.png"></a>
</div>
