<% include partials/header %>

<div id="container">
    <div class="row">
        <div class="col">
            <div class="content">
                <p class="lead"><i class="fas fa-exclamation-triangle fa-2x" aria-hidden="true"></i> Go home and try again...</p>
                <p><a href="/"><i class="fas fa-home" aria-hidden="true"></i></a></p>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>
