<% include partials/header %>

<div id="container">
    <div class="row">
        <div class="col">
            <div class="catchall box-shadow">
                <p class="lead"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Oops...</p>
                <p><a href="/">Try again.</a></p>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>
