<% include partials/header %>

<div id="container">
    <div class="row">
        <div class="col">
            <div class="content box-shadow">
                <p class="big"><i class="fas fa-exclamation-triangle fa-2x" aria-hidden="true"></i></p>
                <p class="error-text">Something went wrong. Ensure location (GPS) is enabled, then go home to try again.</p>
                <div class="buttons">
                    <a class="btn btn-danger" role="button" href="/"><i class="fas fa-home fa-fw fa-2x" style="color:#fffbd5"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>
