<% include partials/header %>

<div id="container">
    <div class="row">
        <div class="col">
            <div class="content">
                <p class="big"><i class="fas fa-exclamation-triangle fa-2x" aria-hidden="true"></i></p>
                <p class="error-text">Something went wrong. Ensure location (GPS) is enabled, then go home to try again.</p>
                <p class="big"><a href="/"><i class="fas fa-home" aria-hidden="true"></i></a></p>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>
