<% include partials/header %>

<div id="container">
    <div class="row">
        <div class="col">
            <div class="home">
                <a href="/foods/random" class="btn btn-home">Feed Me</a>
                <a href="/foods/list" class="btn btn-home">Top Three</a>
                <a href="/settings" class="btn btn-home">Settings</a>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>
