<% include partials/header %>

<div id="container">
    <div class="content box-shadow">
        <form action="/random" method="post">
            <div class="row">
                <div class="col">
                    <span id="loading"><i class="fas fa-spinner fa-pulse fa-6x" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="controls">
                        <label class="switch-light" onclick="">
                            <input name="pricey" type="checkbox">
                            <span class="alert alert-light">
                                <span class="fa-layers fa-2x fa-fw">
                                    <i class="fas fa-dollar-sign"></i>
                                    <i class="fas fa-minus" data-fa-transform="shrink-10 down-3 right-8"></i>
                                    <span class="fa-layers-text" data-fa-transform="shrink-8 down-14 left-6" style="color: #fffbd5;">SAVE</span>
                                </span>
                                <span class="fa-layers fa-2x fa-fw">
                                    <i class="fas fa-dollar-sign"></i>
                                    <i class="fas fa-plus" data-fa-transform="shrink-10 down-3 right-8"></i>
                                    <span class="fa-layers-text" data-fa-transform="shrink-8 down-14 left-14" style="color: #fffbd5;">SPLURGE</span>
                                </span>
                                <a class="btn btn-dark"></a>
                            </span>
                        </label>
                        <label class="switch-light" onclick="">
                            <input name="drive" type="checkbox">
                            <span class="alert alert-light">
                                <span class="fa-layers fa-2x fa-fw">
                                    <i class="fas fa-car" aria-hidden="true"></i>
                                    <i class="fas fa-ban" data-fa-transform="grow-6" style="color: #fffbd5; opacity: 0.5;"></i>
                                    <span class="fa-layers-text" data-fa-transform="shrink-8 down-14 left-9" style="color: #fffbd5;">WALK</span>
                                </span>
                                <span class="fa-layers fa-2x fa-fw">
                                    <i class="fas fa-car" aria-hidden="true"></i>
                                    <span class="fa-layers-text" data-fa-transform="shrink-8 down-14 left-10.5" style="color: #fffbd5;">DRIVE</span>
                                </span>
                                <a class="btn btn-dark"></a>
                            </span>
                        </label>
                        <label class="switch-light" onclick="">
                            <input name="picky" type="checkbox">
                            <span class="alert alert-light">
                                <span class="fa-layers fa-2x fa-fw">
                                    <i class="fas fa-smile" aria-hidden="true"></i>
                                    <span class="fa-layers-text" data-fa-transform="shrink-8 down-14 left-13" style="color: #fffbd5;">FOODIE</span>
                                </span>
                                <span class="fa-layers fa-2x fa-fw">
                                    <i class="fas fa-meh" aria-hidden="true"></i>
                                    <span class="fa-layers-text" data-fa-transform="shrink-8 down-14 left-10.5" style="color: #fffbd5;">PICKY</span>
                                </span>
                                <a class="btn btn-dark"></a>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <input type="hidden" name="latitude" value="0" min="0" step="Any" id="latitude" required/>
            <input type="hidden" name="longitude" value="0" min="0" step="Any" id="longitude" required/>
        </form>
    </div>
</div>

<script>
var latitude    = document.getElementById("latitude"),
    longitude   = document.getElementById("longitude"),
    loading     = document.getElementById("loading"),
    options     = {
        enableHighAccuracy: true,
        maximumAge: 300000,
        timeout: 20000
    }

function success(position) {
    latitude.value = position.coords.latitude
    longitude.value = position.coords.longitude
    loading.innerHTML = '<button type="submit" class="btn" id="feedme">FIND <i class="fas fa-utensils" aria-hidden="true"></i> FOOD</button>'
}

function error(error) {
    loading.innerHTML = '<p>Unable to retrieve location:<br/> "' + error.message + '"</p>'
}
    
if (!navigator.geolocation) {
    location.assign('/nolocation')
} else {
    navigator.geolocation.getCurrentPosition(success, error, options)
}
</script>

<% include partials/footer %>
